@import url(blocks.css);
body { 
color: #333; 
background: #f6f6f6;    
text-align: center; 
margin: 0px;
font-family: Verdana,Arial,Sans-serif;
font-size: 12px;
line-height: 16px;
}
#page {
text-align: center;
border: 0px;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 0px;
width: 770px;
background: #fff;
}
#topheader {
text-align: right;
border: 0px;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 10px;
width: 740px;
background: #f1f1f1;
border-bottom: 4px solid #305B99;
}
#header {
text-align: left;
border: 0px;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 0px;
background: url(images/header.gif) #ADB7CE top left no-repeat;
height: 90px;
width: 760px;
}
#logo {
height: 83px;
margin: 0px 0px;
padding: 0px;
}
#logo h1 {
margin: 0px 0px;
padding: 0px;
}
#logo span {
display: none;
}
#logo a {
display: block;
background: url(images/logo.gif) no-repeat;
width: 250px;
height: 83px;
color: #000;
}
#logo a:hover {
display: block;
width: 250px;
height: 83px;
color: #000;
}
#bottomheader {
text-align: left;
border: 0px;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 10px;
padding-top: 5px;
padding-bottom: 5px;
width: 740px;
background: #f1f1f1;
border-bottom: 4px solid #305B99;
border-top: 4px solid #305B99;
}
#xoopsbanner {
padding: 10px 10px 10px 10px;
}
#pagelayer, #pagelayerArray1, #pagelayer1, #pagelayerArray0 {
text-align: left;
width: 760px;
border: 0px;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 0px;
background-color: #fff;
}
#pagelayerArray1 {
background: url(images/bothright.gif) #fff top right repeat-y;  
}
#pagelayer1 {
background: url(images/bothright.gif) #fff top right repeat-y;  
}
#containerArray1, #containerArray0, #container1, #container0 {
text-align: left;
border: 0px;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 0px;
background: #fff;
}
#containerArray1 {
background: url(images/both.gif) top left repeat-y;  
}
#containerArray0 {
background: url(images/both.gif) top left repeat-y;   
}
#container1 {
background: url() top left repeat-y;     
}
#container0 {
background: url() top left repeat-y;   
}
#contentArray1 {
padding: 0px;
margin-top: 0px;
margin-left: 185px;
margin-right: 235px;     
text-align:justify;
}
#contentArray0 {
padding: 0px;
margin-left: 185px;
margin-right: 10px;
}
#content1 {
padding: 0px;
margin-left: 10px;
margin-right: 235px;     
}
#content0 {
padding: 0px;
margin-left: 10px;
margin-right: 10px;     
}
#blockleft {
float: left;
width: 170px;
margin: 0px;
margin-right: 0px;
padding: 0px;
color: #333;
}
#footer {
clear: both;
padding: 0px;
margin-top: 0px;
background: #fff;
color: #fff;
font-size: 12px;
}
#pagefooter {
background: url(images/pagefooter.gif) #fff no-repeat;
height: 80px;
color: #fff;
font-size: 10px;
}
#copyleft {
text-align:right;
background: url(images/copyleft.gif) #fff no-repeat;
color: #000;
font-size: 12px;
padding: 5px;
}
#footnav {
text-align: right;
border: 0px;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 10px;
width: 740px;
height: 20px;
background: #f1f1f1;
border-top: 4px solid #305B99;
}
p {
padding: 10px;
padding-left: 0px;
margin: 0px;
}
h1 {
margin: 0px;
font-size: 15px;
padding: 10px;
padding-left: 0px;
}
h2, h3 {
margin: 0px;
font-size: 13px;
padding: 10px;
padding-left: 0px;
}
img {
border: 0px;
}
#blockright {
color: #000;
float: right;
width: 220px;
margin: 0px;
margin-left: 0px;
padding: 0px;
}
#blockrightArray {
float: right;
width: 220px;
margin: 0px;
margin-left: 0px;
padding: 0px;
}
#blockrightArray a:hover {
color: #fff;
}
b {
font-size: 13px;
color: orange;
}

a {
text-decoration: none;
color: #369;
}
a:hover{
text-decoration: none;
color: #fff;
background: #369;
}
table {
font-family: Verdana,Arial,Sans-serif;
font-size: 12px;
line-height: 18px;
}
textarea {
width: 400px;
}